@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
	body {
		font-family: 'Nunito', 'Open Sans', sans-serif;
		-webkit-font-smoothing: antialiased !important;
		-webkit-text-size-adjust: 100%;
	}
	a {
		@apply text-blue-600 underline;
	}

	input:active,
	input:hover,
	input:focus {
		@apply outline-none;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	*::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	* {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.layout {
		display: grid;
		grid-template-rows: max-content auto;
		grid-template-columns: 1fr;
	}

	.grid-layout {
		max-width: 750px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		height: calc(100vh - 6rem);
		grid-template-columns: 1fr;
		padding: 1rem;
		align-content: space-around;
		justify-content: space-between;
	}

	.scrollable-mobile {
		-webkit-overflow-scrolling: touch;
	}

	.slider {
		@apply appearance-none w-full h-6 rounded transition drop-shadow-md;
	}

	.slider::-webkit-slider-thumb {
		@apply appearance-none h-8 w-8 border-2 border-solid  border-gray-200 bg-white cursor-pointer rounded;
	}

	.slider::-moz-range-thumb {
		@apply appearance-none h-8 w-8 border-2 border-solid  border-gray-200 bg-white cursor-pointer rounded;
	}
}
